$font-path: 'assets/fonts';
@import '~carbon-components/scss/globals/scss/styles.scss';
@import '~trumbowyg/dist/ui/sass/trumbowyg';
@import 'print';
@import 'variables';

html, body {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.bx--tile {
	flex: 1;
	overflow-y: auto;
}

.bx--tooltip__trigger {
	&:before, &:after {
		z-index: 2;
	}
	&:after {
		width: 10rem;
		white-space: pre-wrap;
	}
}

.trumbowyg-box {
	min-height: unset;
}

.trumbowyg-editor {
	height: 250px !important;
	min-height: unset;
}
